center
    h1 About me.
    hr
    .aboutme-div
        .about-card
            img.about-image(src="/images/logo.png")
            h4 I am a 13 year old who loves to make games.
            h4 I absolutly love space. It is so cool!
            h4 I started learing how to use Unity when I was 11 or 12.
            h4 I prefer python to C#.
            h4 I make websites in pug, even though I still love HTML


        //- //- FIX THIS MAKE IT CENTERED
        //- img(src='/Images/Logo.png' style='height: 150px; width: auto;')
        //- hr.about-hr
        //- h3 Hello! My name is Outer Dev Games, but you may call me Outer. What ever is cool with you.&nbsp;
        //- 	i.fas.fa-meteor
        //- br
        //- button More
        //- //-
        //- 	hr
        //- 		h2 Fun facts
        //- 		h4 I absolutely love everything about space.
        //- 		h4 I absolutely love everything about game development.
        //- 		h4 So I put two and two together and
        //- 			s got four
        //- 		h4 decided to become a game developer who makes games mostly about space!
        //- 		h4 I started this company (I think its a company but I'm not too sure) when I was 12. I am currently 13.
