center
	h1 Outer Dev Games
	hr(style='width: 10%;')
	.socials
		//- target and rel makes sure it opens in new tab
		a(href='https://twitter.com/OuterDevGames', target="_blank", rel="noopener noreferrer")
			i.fab.fa-twitter.social-icon
		a(href='https://outerdevgames.itch.io/', target="_blank", rel="noopener noreferrer")
			i.fab.fa-itch-io.social-icon
		a(href='https://discord.gg/U9pFZNA', target="_blank", rel="noopener noreferrer")
			i.fab.fa-discord.social-icon
