ul.nav.justify-content-center
	li.list-item
		a.nav-link(href='#about', data-toggle='tooltip', data-placement='bottom', title='About me')
			// astronaut icon by Fonticons Inc. (https://fontawesome.com/icons/user-astronaut?style=solid)
				changes include: scaling it down to 512 x 512 pixels
				changing the color
				adding a black background
				making it a png file
				I DID NOT MAKE THE ICON I JUST MODIFIED IT FOR MY USE 
				The fontawesome icons are licened under a 
				Creative Commons Attribution 4.0 International lisence.
			img.icon.type-3(src='images/about.png')
	li.list-item
		a.nav-link(href='#game', data-toggle='tooltip', data-placement='bottom', title='EXPANSION')
			// dice-d6 icon by Fonticons Inc. (https://fontawesome.com/icons/dice-d6?style=solid)
				changes include: scaling it down to 512 x 512 pixels
				changing the color
				adding a black background
				making it a png file
				I DID NOT MAKE THE ICON I JUST MODIFIED IT FOR MY USE 
				The fontawesome icons are licened under a 
				Creative Commons Attribution 4.0 International lisence.
			img.icon.type-2(src='images/games.png')
	li.list-item
		a.nav-link(href='/', data-toggle='tooltip', data-placement='bottom', title='Home Page')
			img.icon.type-1(src='images/LogoNoCrop.png')
	li.list-item
		a.nav-link(href='#footer', data-toggle='tooltip', data-placement='bottom', title='Socials')
			// users icon by Fonticons Inc. (https://fontawesome.com/icons/users?style=solid)
				changes include: scaling it down to 512 x 512 pixels
				changing the color
				adding a black background
				making it a png file
				I DID NOT MAKE THE ICON I JUST MODIFIED IT FOR MY USE 
				The fontawesome icons are licened under a 
				Creative Commons Attribution 4.0 International lisence.
			img.icon.type-2(src='images/socials.png')
	li.list-item
		a.nav-link(href='javascript:void(0);', data-toggle='tooltip', data-placement='bottom', title='Toggle Theme')
			// images icon by Fonticons Inc. (https://fontawesome.com/icons/images?style=solid)
				changes include: scaling it down to 512 x 512 pixels
				changing the color
				adding a black background
				making it a png file
				I DID NOT MAKE THE ICON I JUST MODIFIED IT FOR MY USE 
				The fontawesome icons are licened under a 
				Creative Commons Attribution 4.0 International lisence.
			img.icon.type-3#toggle-light(src='images/img-credits.png')
