.parallax#top(data-parallax='scroll', data-image-src='/images/BackgroundImage.jpg')
    // background image credit: National Geospatial Intelligence Agency
    include jumbotron
.text-section
    include about
.parallax(data-parallax='scroll', data-image-src='/images/BackgroundImage2.jpg')
    include wave
.text-section
    include game
.parallax(data-parallax='scroll', data-image-src='/images/BackgroundImage3.jpg')
    include wave
.text-section-footer#footer
    include footer