doctype
html
	head
		include includes/head
	body.d-flex.flex-column.min-vh-100
		include includes/toTop
		include includes/page
		// scroll to top
		include includes/scrollTop
		include includes/toggle
